[Unit]
Description=openmilight
After=network.target

[Service]
Type=simple
ExecStart=/opt/openmilight -m -d -n 10 -1 8140 -2 F746 -3 788E -4 796A
Restart=always

[Install]
WantedBy=multi-user.target
